In [147]:
###### import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
Confirmed = "data/Confirmed.csv"
Deaths = "data/Deaths.csv"
Recovered = "data/Recovered.csv"

deaths= pd.read_csv(Deaths)
deathsByday=deaths.copy()
i=40
j=0
while (j<=104):
    while (i >=5):
        deathsByday.iloc[j,i]=deathsByday.iloc[j,i]-deathsByday.iloc[j,i-1]
        i = i - 1
    j=j+1
    i=40

deathsByday.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/18/20,2/19/20,2/20/20,2/21/20,2/22/20,2/23/20,2/24/20,2/25/20,2/26/20,2/27/20
0,Anhui,Mainland China,31.8257,117.2264,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Beijing,Mainland China,40.1824,116.4142,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2,Chongqing,Mainland China,30.0572,107.8740,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,Fujian,Mainland China,26.0789,117.9874,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,Gansu,Mainland China,36.0611,103.8343,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [148]:

confirmed_data= pd.read_csv(Confirmed)
confirmedByday=confirmed_data.copy()
i=40
j=0
while (j<=104):
    while (i >=5):
        confirmedByday.iloc[j,i]=confirmedByday.iloc[j,i]-confirmedByday.iloc[j,i-1]
        i = i - 1
    j=j+1
    i=40

confirmedByday.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/18/20,2/19/20,2/20/20,2/21/20,2/22/20,2/23/20,2/24/20,2/25/20,2/26/20,2/27/20
0,Anhui,Mainland China,31.8257,117.2264,1,8,6,24,21,10,...,9,4,1,1,1,0,0,0,0,0
1,Beijing,Mainland China,40.1824,116.4142,14,8,14,5,27,12,...,6,6,2,1,3,0,0,1,0,10
2,Chongqing,Mainland China,30.0572,107.8740,6,3,18,30,18,35,...,2,5,7,5,1,2,1,0,0,0
3,Fujian,Mainland China,26.0789,117.9874,1,4,5,8,17,24,...,2,1,0,0,0,0,0,1,0,2
4,Gansu,Mainland China,36.0611,103.8343,0,2,0,2,3,7,...,0,0,0,0,0,0,0,0,0,0

In [150]:
recovered_data= pd.read_csv(Recovered)
recoveredByday=recovered_data.copy()
i=40
j=0
while (j<=104):
    while (i >=5):
        recoveredByday.iloc[j,i]=recoveredByday.iloc[j,i]-recoveredByday.iloc[j,i-1]
        i = i - 1
    j=j+1
    i=40

recoveredByday.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/18/20,2/19/20,2/20/20,2/21/20,2/22/20,2/23/20,2/24/20,2/25/20,2/26/20,2/27/20
0,Anhui,Mainland China,31.8257,117.2264,0,0,0,0,0,0,...,81,52,61,65,58,40,26,49,32,48
1,Beijing,Mainland China,40.1824,116.4142,0,0,1,1,0,0,...,8,23,8,16,9,11,9,17,20,13
2,Chongqing,Mainland China,30.0572,107.8740,0,0,0,0,0,0,...,29,20,25,17,12,7,14,23,12,17
3,Fujian,Mainland China,26.0789,117.9874,0,0,0,0,0,0,...,3,19,14,23,13,8,13,16,19,10
4,Gansu,Mainland China,36.0611,103.8343,0,0,0,0,0,0,...,4,3,6,5,0,2,2,0,1,0